<%= form_for [refinery, :badges_admin, @badge] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @badge,
              :include_object_name => true %>

  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest'  -%>

  </div>
  
  <div class='field'>
    <%= f.label :link -%>
    <%= f.text_field :link  -%>

  </div>
  
  <div class='field'>
    <%= f.label :image -%>
    <%= render '/refinery/admin/image_picker',
               :f => f,
               :field => :image_id,
               :image => @badge.image,
               :toggle_image_display => false %>

  </div>
  
  <div class='field'>
    <%= f.label :hidden -%>
    <%= f.check_box :hidden, :checked => @badge[:hidden]  -%>

  </div>
  
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => true,
             :delete_title => t('delete', :scope => 'refinery.badges.admin.badges.badge'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @badge.title) %>
<% end -%>
